pipeline/01_PRATICA.json
{
	"name": "01_PRATICA",
	"properties": {
		"activities": [
			{
				"name": "ler csv",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSV_GENERICO",
						"type": "DatasetReference",
						"parameters": {
							"container": "curso-adf-iniciantes-udemy",
							"path": "csv-files",
							"file": "*.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filtrar movies db",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ler csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LER CSV').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name,'moviesDB.csv' ))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "lista csv",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filtrar movies db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTRAR MOVIES DB').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copiar para container",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CSV_GENERICO",
									"type": "DatasetReference",
									"parameters": {
										"container": "curso-adf-iniciantes-udemy",
										"path": "csv-files",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_PARQUET_GENERICO",
									"type": "DatasetReference",
									"parameters": {
										"container": "curso-adf-iniciantes-udemy",
										"path": "parquet-files",
										"file": {
											"value": "@replace(item().name, '.csv','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "CURSO_ADF_INICIANTES_UDEMY/01_HANDSON"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-05T23:43:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}