pipeline/02_PRATICA.json
{
	"name": "02_PRATICA",
	"properties": {
		"activities": [
			{
				"name": "listar parquet",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_PARQUET_GENERICO",
						"type": "DatasetReference",
						"parameters": {
							"container": "curso-adf-iniciantes-udemy",
							"path": "parquet-files",
							"file": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "foreach parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "listar parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LISTAR PARQUET').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_PARQUET_GENERICO",
									"type": "DatasetReference",
									"parameters": {
										"container": "curso-adf-iniciantes-udemy",
										"path": "parquet-files",
										"file": {
											"value": "@replace(item().name,'parquet' ,'' )",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZURE_SQL_GENERICO",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "curso",
										"table": "@replace(item().name,'parquet' ,'' )"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "proc cor",
				"description": "Remove duplicados",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "foreach parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cores_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "proc cidades",
				"description": "Remove duplicados",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "foreach parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_cidades_duplicadas]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "CURSO_ADF_INICIANTES_UDEMY/01_HANDSON"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-05T23:43:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}